[
    {
        "scope": "https://lambda.us-east-1.amazonaws.com:443",
        "method": "POST",
        "path": "/2015-03-31/functions/arn%3Aaws%3Alambda%3Aus-east-1%3A11111111111111%3Afunction%3Aslss-s-scanner-lambda-table-name/invocations",
        "body": {
            "tokens": [
                "broc"
            ],
            "limit": 60,
            "segment": 1
        },
        "status": 200,
        "response": {
            "segment": 1,
            "items": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "x-amzn-RequestId",
            "b0399e8f-26b4-4309-908c-ce10606d3098",
            "x-amzn-Remapped-Content-Length",
            "0",
            "X-Amz-Executed-Version",
            "$LATEST"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://lambda.us-east-1.amazonaws.com:443",
        "method": "POST",
        "path": "/2015-03-31/functions/arn%3Aaws%3Alambda%3Aus-east-1%3A11111111111111%3Afunction%3Aslss-s-scanner-lambda-table-name/invocations",
        "body": {
            "tokens": [
                "broc"
            ],
            "limit": 60,
            "segment": 0
        },
        "status": 200,
        "response": {
            "segment": 0,
            "items": [
                {
                    "__typename": "Product",
                    "updatedOn": "2021-04-23T17:13:35.576Z",
                    "satUnitId": "H87",
                    "createdOn": "2021-04-23T17:13:35.576Z",
                    "status": "ACTIVE",
                    "id": "6a6a303f-13f7-4470-ae3e-3f2e129d75a9",
                    "name": "BROCA TRIUM AV 11211 11/64",
                    "satCategoryId": "27111500",
                    "sku": "TRIU11/64"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "x-amzn-RequestId",
            "551f2bb2-e3c4-4832-97bf-8138ba8243c0",
            "x-amzn-Remapped-Content-Length",
            "0",
            "X-Amz-Executed-Version",
            "$LATEST"
        ],
        "responseIsBinary": false
    },
[...]
