[
    {
        "scope": "https://lambda.us-east-1.amazonaws.com:443",
        "method": "POST",
        "path": "/2015-03-31/functions/arn%3Aaws%3Alambda%3Aus-east-1%3A11111111111111%3Afunction%3Aslss-s-scanner-lambda-table-name/invocations",
        "body": {
            "staticToken": "triu11/64",
            "limit": 60,
            "segment": 4
        },
        "status": 200,
        "response": {
            "segment": 4,
            "items": []
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "x-amzn-RequestId",
            "e4ca74fc-3654-443b-8fca-24c5f40600f6",
            "x-amzn-Remapped-Content-Length",
            "0",
            "X-Amz-Executed-Version",
            "$LATEST"
        ],
        "responseIsBinary": false
    },
[...]
    {
        "scope": "https://lambda.us-east-1.amazonaws.com:443",
        "method": "POST",
        "path": "/2015-03-31/functions/arn%3Aaws%3Alambda%3Aus-east-1%3A11111111111111%3Afunction%3Aslss-s-scanner-lambda-table-name/invocations",
        "body": {
            "staticToken": "triu11/64",
            "limit": 60,
            "segment": 0
        },
        "status": 200,
        "response": {
            "segment": 0,
            "items": [
                {
                    "__typename": "Product",
                    "updatedOn": "2021-04-23T17:13:35.576Z",
                    "satUnitId": "H87",
                    "createdOn": "2021-04-23T17:13:35.576Z",
                    "status": "ACTIVE",
                    "id": "6a6a303f-13f7-4470-ae3e-3f2e129d75a9",
                    "name": "BROCA TRIUM AV 11211 11/64",
                    "satCategoryId": "27111500",
                    "sku": "TRIU11/64"
                }
            ]
        },
        "rawHeaders": [
            "Content-Type",
            "application/json",
            "x-amzn-RequestId",
            "718b28c9-b01b-4cc0-aae8-2f8a5369a0f9",
            "x-amzn-Remapped-Content-Length",
            "0",
            "X-Amz-Executed-Version",
            "$LATEST"
        ],
        "responseIsBinary": false
    },
[...]
