[
    {
        "scope": "https://dynamodb.us-east-1.amazonaws.com:443",
        "method": "POST",
        "path": "/",
        "body": {
            "Item": {
                "id": {
                    "S": "d82d6e10-13b1-492e-a6ca-ec825f1e2e45"
                },
                "token": {
                    "S": "t"
                },
                "instanceId": {
                    "S": "466efd3c-6c26-459b-a8b0-8bf94263c203"
                }
            },
            "TableName": "table-name"
        },
        "status": 200,
        "response": {},
        "rawHeaders": [
            "Content-Type",
            "application/x-amz-json-1.0",
            "x-amzn-RequestId",
            "QLBN5FQO99JSMV1QHFK4F9PT03VV4KQNSO5AEMVJF66Q9ASUAAJG",
            "x-amz-crc32",
            "2745614147"
        ],
        "responseIsBinary": false
    },
[...]
